/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.templates img {
  width: 100%;
  max-height: 200px;
}

.templates a.btn {
  width: 50%;
  text-align: center;
  margin:auto;
}

.margin-btm-large {
  margin-bottom: 40px;
}

.margin-top-large {
  margin-top: 40px;
}

.margin-btm-medium {
  margin-bottom: 20px;
}

.margin-top-medium {
  margin-top: 20px;
}

.margin-top-small {
  margin-top: 10px;
}

.margin-bottom-small {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.title {
  font-weight: bold;
}

.fullwidth {
  width: 100%;
}

.halfwidth {
  width: 50%;
}